@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: color 0.3s ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --color-background: #e6f0ff;
    --color-text: #000000;
    --sidebar-background: #ffffff;
    --sidebar-foreground: #000000;
    --sidebar-primary: #3b1e0a;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f3f3f3;
    --sidebar-accent-foreground: #3b1e0a;
    --sidebar-border: #d3d3d3;
    --sidebar-ring: #d9e7e0;

    --line: #4d4d4d;
    --dot-tr: #4242421f;
    --chart-1: #af56db;
    --chart-2: #46a7d8;
    --chart-3: #7cb329;
    --chart-4: #f6d71c;
    --chart-5: #e23695;
  }

  .dark {
    --color-background: #181818;
    --color-text: #ffffff;
    --sidebar-background: #000000;
    --sidebar-foreground: #e7e7f5;
    --sidebar-primary: #e05d30;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #4d4d4d;
    --sidebar-accent-foreground: #e7e7f5;
    --sidebar-border: #4d4d4d;
    --sidebar-ring: #46a7d8;

    --line: #d3d3d3;
    --dot-tr: #fffdfd1f;
    --chart-1: #af56db;
    --chart-2: #46a7d8;
    --chart-3: #7cb329;
    --chart-4: #f6d71c;
    --chart-5: #e23695;
  }
}
